---
---

@import "{{ site.theme }}";

header {
    width: 100%;
    position: unset;
    clear: both;
    -webkit-font-smoothing: subpixel-antialiased;
}

section {
    width: 98%;
    padding-bottom: 50px;
}

section p {
    text-align: justify;
}

section h1 {
    color: #007bff
}

footer {
    width: 100%;
    float: none;
    position: unset;
    clear: both;
}